<div class="page-header">
  <div class="row">
    <div class="col-lg-12">
      <h1>Árvores</h1>

      <p class="lead"><small>Aqui você pode visualizar todas as suas árvoes por board e por checkpoint.</small></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <treecontrol class="tree-classic"
         tree-model="dataForTheTree"
         options="treeOptions"
         on-selection="showSelected(node)"
         selected-node="node1">
         {{node.name}}
      </treecontrol>
    </div>
  </div>
</div>
