<div class="page-header">
  <div class="row">
    <div class="col-lg-6">
      <h1>Bem vindo!</h1>
      <p class="lead">Olá, seja bem vindo ao Trowner! O primeiro sistema de gerenciamento de arvore societária amigável da Fatec.<br/><br/>
      Veja no quadro abaixo as principais funcionalides do App, ou use o menu acima.</p>
    </div>
    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
      <div class="well sponsor">
        <a href="#companies">
          <h4 style="margin-bottom: 0.4em;">Empresas</h4>
          <div class="clearfix">
            <p>Cadastre novas empresas de maneira super rápida e fácil.</p>
            <p>Basta clicar aqui!</p>
          </div>
        </a>

        <a href="#dashboards">
          <h4 style="margin-bottom: 0.4em;">Dashboards</h4>
          <div class="clearfix">
            <p>Crie dashboards e veja a participação societária.</p>
            <p>Em formato de árvore!</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>